/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}

img {
    width: 100%;
}

div.bg-secondary > div {
    margin-bottom: 1rem;
}

p,
del {
    margin: 0.5rem 0;
}
